<div class="jumbotron">
  <h1><span>Profile</span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <p>Welcome, <%= @user.first_name %> <%= @user.last_name %>.</p>
        <br>
        <ul>
          <li><b>Name: </b><%= @user.first_name %> <%= @user.last_name %></li>
          <li><b>Email: </b><%= @user.email %></li>
        </ul> 
      </div>  
      <div class="panel panel-default">
        <h2>Potlucks Hosting</h2>
        <!-- each loop using @hosted_events -->
        <% @hosted_events.each do |event| %>
          <ul>
            <li><%= event.date.strftime(' %B %d, %Y') %> - <%= link_to event.name, event_path(event.id) %></li>
          </ul>  
        <% end %>  
      </div>
      <div class="panel panel-default">
        <h2>Potlucks Attending</h2>
        <!-- each loop using @attending_events -->
        <% @attending_events.each do |event| %>
          <ul>
            <li><%= event.date.strftime(' %B %d, %Y') %> - <%= link_to event.name, event_path(event.id) %></li>
          </ul> 
        <% end %>          
      </div>
    <div>

    </div>  
        <% if current_user == @user %>
        <div class="btn-group">
          <a href="/users/<%= @user.id %>/edit" class= "btn btn-default btn-lg">
            Edit
          </a>
        </div>
        <div class="btn-group">
          <%= button_to "Delete profile", @user, {method: :delete, data: {confirm: "Are you sure you want to delete your account #{@user.first_name}?"}, class: "btn btn-default btn-lg"}  %>
        <% end %>  
      </div>
      <div>
        <p>Creat a new <%= link_to "Event", new_event_path %> </p> 
      </div>   
    </div>   
</div>
