<div class="jumbotron">
  <h1><span>Edit Event</span></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= form_for @event do |f| %>    
    <div class="form-group">
      <%= f.label :name, "Name", class: "control-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Description", class: "control-label" %>
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <%= f.label :place, "Place", class: "control-label" %>
      <%= f.text_field :place, class: "form-control", placeholder: "Place" %>
    </div>
    <div class="form-group">
      <%= f.label :date, "Date", class: "control-label" %>
      <div class='input-group date' id="datetimepicker">
        <%= f.text_field :date, {class: "form-control", placeholder: "Date"} %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>  
      <%= f.hidden_field :host_id, value: current_user.id %>
   
    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-default  center-bl form-control" %>
    </div>
  <% end %> 
  </div>
</div>  