<div class="jumbotron">
  <h1><span><%= @event.name %></span></h1>
</div>

<div class="container">
  <ul>
    <li>Name: <%= @event.name %></li>
    <li>Description: <%= @event.description %></li>
    <li>Place: <%= @event.place %></li>  
    <li>Date: <%= @event.date.strftime('%a %d %b %Y')  %></li>
  </ul> 
  <div class="btn-group">
    <a href="/events/<%= @event.id %>/edit" button class="btn btn-success btn-lg">Edit</a>
  </div>

  <div class="btn-group">
    <%= button_to "Delete", @event,
   { method: :delete, data: { confirm: "Are you sure you want to delete '#{@event.name}'?"}, class: 'btn btn-danger btn-lg' } %>
    </div>  
</div>   

